KEYSTROKE Exception=103   ku   # Up Arrow
KEYSTROKE Exception=104   kd   # Down Arrow
KEYSTROKE Exception=102   kP   # PgUp
KEYSTROKE Exception=105   kN   # PgDn
KEYSTROKE Exception=101   KT   # CTRL + PgUp
KEYSTROKE Exception=106   KB   # CTRL + PgDn

# SUBJECT: Paged grid control thin client performance improvement
# SUBJECT: Paged Grid previous page display problem via thin-client 
# By default, ECN-2425 is enabled which was an enhancement to give a 
# performance improvement to the Paged Grid control.  When you disable this 
# ECN you no longer get the performance improvements but you will get the 
# correct results and will not get error 46. 
#ECN_2425 FALSE