!copy C:\etc\cblconfi_AcuToWeb.cfg

# Keep the whole AcuToWeb installation path, including the final \
ACUTOWEB_PATH  C:\Program Files (x86)\Micro Focus\extend 10.3.0\AcuToWeb\

# Keep the whole AcuToWeb URL, including the final /
ACUTOWEB_URL  http://192.168.1.201:3300/

PDF_PAGE_SIZE      A4
PDF_PAGE_DIRECTION LANDSCAPE
PDF_FONT_NAME      Courier
PDF_FONT_SIZE      8

PDF_MARGIN_TOP     15
# PDF_MARGIN_BOTTOM
# PDF_MARGIN_LEFT
# PDF_MARGIN_RIGHT

# PDF_FONT_TRUETYPE_TTC
# PDF_FONT_TRUETYPE_TTC_INDEX
# PDF_FONT_TRUETYPE_TTF
# PDF_FONT_TYPE
# PDF_FONT_TYPE1_PFB
# PDF_FONT_TYPE1_AFM