WIN32_NATIVECTLS    1
IO_CREATES          1
EXTEND_CREATES      1
#FILE_IO_PEEKS_MESSAGES 1

#AcuServer Config
FILE_PREFIX @hostname:/home/support/AcuSupport/AcuDataFiles
ACUSERVER_PORT 6524
USE_LOCAL_SERVER 0
AGS_PING_TIME 60
CACHE_DIRECTORY C:\temp
CACHE_DIRECTORY_SIZE 10
AGS_SOCKET_COMPRESS     ZLIB

# READ, WRITE or REWRITE
# WS-TASK REWRITE

# Number of records to READ/WRITE/REWRITE
# RECORD-NUMBER 9000