# OS Environement Variable
# REQUIRED before running the program if running the client remotely
# WINDOWS
# set MQSERVER=DEV.APP.SVRCONN/TCP/172.31.10.78(1414)
# LINUX/UNIX
# export MQSERVER=DEV.APP.SVRCONN/TCP/'172.31.10.78(1414)'

USE_MQSERIES TRUE