# OS Environement Variable
# REQUIRED before running the program if running the client remotely
# WINDOWS
# set MQSERVER=DEV.APP.SVRCONN/TCP/172.31.10.78(1414)
# LINUX/UNIX
# export MQSERVER=DEV.APP.SVRCONN/TCP/'172.31.10.78(1414)'

# UNCOMMENT one of the following SHARED_LIBRARY_LIST entries
# WINDOWS
#SHARED_LIBRARY_LIST=mqic.dll
# LINUX/UNIX
#SHARED_LIBRARY_LIST=libmqic_r.so:libmqmcs_r.so

