[Unit]
Description=AcuServer

[Service]
Type=forking
ExecStart=/home/support/AcuSupport/AcuServices/acuServices.sh acuserver start
ExecStop=/home/support/AcuSupport/AcuServices/acuServices.sh acuserver stop
ExecReload=/home/support/AcuSupport/AcuServices/acuServices.sh acuserver restart
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target