[Unit]
Description=AcuServer

[Service]
Type=oneshot
ExecStart=/home/support/AcuSupport/AcuServices/acuServices.sh acuserve start
ExecStop=/home/support/AcuSupport/AcuServices/acuServices.sh acuserve stop
ExecReload=/home/support/AcuSupport/AcuServices/acuServices.sh acuserve restart
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target