[Unit]
Description=AcuServer

[Service]
Type=oneshot
ExecStart=/etc/systemd/system/acuServices.sh acuserve start
ExecStop=/etc/systemd/system/acuServices.sh acuserve stop
ExecReload=/etc/systemd/system/acuServices.sh acuserve restart
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target