[Unit]
Description=AcuXDBC Server

[Service]
Type=oneshot
ExecStart=/etc/systemd/system/acuServices.sh acuxdbcs start
ExecStop=/etc/systemd/system/acuServices.sh acuxdbcs stop
ExecReload=/etc/systemd/system/acuServices.sh acuxdbcs restart
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.targets