[Unit]
Description=AcuToWeb

[Service]
Type=forking
ExecStart=/home/support/AcuSupport/AcuServices/acuServices.sh atw start
ExecStop=/home/support/AcuSupport/AcuServices/acuServices.sh atw stop
ExecReload=/home/support/AcuSupport/AcuServices/acuServices.sh atw restart
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target