[Unit]
Description=Boomerang

[Service]
Type=forking
ExecStart=/home/support/AcuSupport/AcuServices/acuServices.sh boomerang start
ExecStop=/home/support/AcuSupport/AcuServices/acuServices.sh boomerang stop
ExecReload=/home/support/AcuSupport/AcuServices/acuServices.sh boomerang restart
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target