
# Use the "*" notation to point to the cobol object on the server.
# CODE_PREFIX . *10.133.13.93:C:\AcuSamples\AcuConnectDP

# Allow code name aliases.  A name alias is a substitute string for the
# literal name that appears in the CALL statement.
CODE_MAPPING      1
DP-PROGRAM  *10.133.13.93:C:\AcuSamples\AcuConnectDP\dp.acu

# runtime flags on the server
# ACUCONNECT_RUNTIME_FLAGS *10.133.13.93: -c C:\AcuSamples\AcuConnectDP\cblconfig -le err.log

#The port number of the AcuConnect server to be used
ACURCL_PORT       10200

# action to be taken with the connection to the remote runtime after a
# CANCEL
ACUCONNECT_CLOSE_AFTER_CANCEL   1

# map special characters in your client character set to their equivalent on
# the server.
# DEFAULT-MAP-FILE		c:\etc\pc_iso