TC_SERVER_TIMEOUT         60
TC_CHECK_ALIVE_INTERVAL   60
TC_QUIT_MODE              -1

#   AGS_SOCKET_COMPRESS       ZLIB

   A_REMOVE_EMPTY_ERROR_FILE 1
#   AGS_BLOCK_SLEEP_TIME      1
#   AGS_RETRY_COUNT           1000

#Turn these ON if you want to run C$FILEINFO
ENV-FILEINFO-INPUT  OFF
ENV-FILEINFO-OUTPUT OFF

ENV-INPUT-FILE      /home/support/AcuSupport/AcuSamples/CCOPY/test.txt
ENV-OUTPUT-FILE     @[DISPLAY]:C:\temp\test.txt